<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Mixed Operations 2</title>
	<meta author="Felisa">
</head>
<body>
	<header>
		<h1>Functions on JS</h1>
		<p><a href="../index.html">Home</a></p>
	</header>
	<content>
		<h2>Mixed operations 2</h2>
		<button onclick="goBack()">Back</button>
		<button onclick="mixed()">Again</button>
	</content>
	<footer>
		<script type="text/javascript" src="../Scripts/utils.js"></script>
		<script type="text/javascript" src="../Scripts/mixed2.js"></script>
	</footer>
</body>
</html>