<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Division html</title>
	<meta author="Felisa Useche">
	<link rel="stylesheet" href="../../styles/html-js/index.css">
</head>
<body>
	<header>
		<h1>JavaScript Functions</h1>
		<p><a href="../../index.html">Home</a></p>
	</header>
	<content>
		<h2>Division Html</h2>
		<input id="first-number" type="number" name="first-number" placeholder="Write your first number">
		/
		<input id="second-number" type="number" name="second-number" placeholder="Write your second number">
		<button onclick="division();">=</button>
		<input id="result" type="text" readonly="" placeholder="Your result is...">
	</content>
	<footer>
		<br/>
		<button onclick="goBack()">Back</button>
		<script src="../../Scripts/utils.js"></script>
		<script src="../../Scripts/html-js/division-html.js"></script>
	</footer>
</body>
</html>