<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Multiplication</title>
	<meta author="Felisa Useche">
	<link rel="stylesheet" href="../../styles/html-js/index.css">
</head>
<body>
	<header>
		<h1>JavaScript Functions</h1>
		<p><a href="../../index.html">Home</a></p>
	</header>
	<content>
		<form>
			<h2>Multiplication Html</h2>
			<input id="first-number" type="number" name="first-number" placeholder="Write your first number" required>
			x
			<input id="second-number" type="number" name="second-number" placeholder="Write your second number" required>
			<input type="submit" onclick="multiplication();">=</input>
			<input id="result" type="text" readonly="" placeholder="Your result is...">
		</form>
	</content>
	<footer>
		<button onclick="goBack()">Back</button><br/>
		<script src="../../Scripts/utils.js"></script>
		<script src="../../Scripts/html-js/multiplication-html.js"></script>
	</footer>
</body>
</html>