<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>DivisionJS</title>
	<meta name="author" content="Felisa Useche" >
</head>
<body>
	<header>
		<h1>Functions on JS</h1>
		<p><a href="../../index.html">Home</a></p>
	</header>
	<content>
		<h2>Division on JS</h2>
		<button onclick="goBack()">Back</button>
	</content>
	<footer>
		<script type="text/javascript" src="../../Scripts/utils.js"></script>
		<script type="text/javascript" src="../../Scripts/js/division.js"></script>
	</footer>
</body>
</html>